@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0D0D18;
  color: #F5F5F5;
}

@layer utilities {
  .small-caps {
    font-variant-caps: small-caps;
  }
}
